h1 {
  margin-top: 0px;
}
.login-prompt {
   text-align:center;
   background:#FFC;
   padding:30px 20px;
}
.login-prompt h3 {
  padding-bottom:2px;
  margin:0;
}
.login-prompt p {
  margin-top:20px;
}
.no-bottom {
  margin-bottom:0;
  padding-bottom:0;
}
.muted { color:#AAA; }
.steps-count { font-weight:100;color:#AAA;border-bottom:1px solid #CCC; padding-bottom:5px; }
.deploy-list {
  padding-left:10px;
}
.deploy-target {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.deploy-target h2 {
  margin-bottom:0px;
}
.last-deploy {
  margin:10px 0;
}
.gray-well {
  background:#EEE;
}

.half-well {
  width: 60%;
  padding:5px 20px;
}

.under {
  border-bottom: 1px solid #CCC;
}

.form-wide {
  width:100%;
}

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf') format('truetype'),
      url('/fonts/icomoon.woff') format('woff'),
      url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-train"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-train:before {
  content: "\e600";
}
.icon-train3:before {
  content: "\e601";
}
.icon-train2:before {
  content: "\e602";
}

.deploy-server-status { width: 10%; float:left; }

ul.nav {
  margin-bottom: 20px;
}

.deploy-scenarios-fields .fields {
  margin-bottom: 2px;
}

.navbar-brand {
  padding: 0px;
  img.logo {
    height: 100%;
  }
}

.horizontal-button-array {
  form {
    display: inline-block;
  }
}

#deploy-servers {
  margin-top: 1em;
}
#deploy-options-form {
  padding: 0px 15px 0px 15px;
}
#deploy-options-table-panel {
  padding: 0px 15px 0px 15px;
  table {
    margin-bottom: 5px;
  }
}
.deploy-results h4 {
  margin-left: -15px;
  margin-right: -15px;
}
.deploy-result {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;

  background-color: #888888; // default
  a {
    color: #000000;
  }

  &[data-stage="start"] {
    background-color: #888888;
  }
  &[data-stage="initiated"] {
    background-color: #cccccc;
  }
  &[data-stage="deployed"] {
    background-color: #cccc88;
  }
  &[data-stage="completed"] {
    background-color: #88cc88;
  }
  &[data-stage="failed"] {
    background-color: #cc8888;
  }
  border-radius: 3px;
}

.projects-index-grid {
  width: 600px;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    background: #f8f8f8;
    float: left;
    width: 194px;
    text-align: center;
    margin: 3px;
    border: 1px solid #dddddd;
    border-radius: 3px;

    .icon {
      display: inline-block;
      font-size: 48px;
    }
    .project-link {
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.streetlight:hover, .streetlight:focus {
  text-decoration: none;
}
.streetlight {
  i.icon-check-sign { color: #5cb85c; }
  i.icon-circle { color: #d9534f; }
  i.icon-refresh { color: #009ddc; }
}
i.gray { color: #ddd; }
