.navbar-toggle {
  &:not(.collapsed) {
    margin-top: 10px;
    .icon-bar:nth-child(1) {
      transform: rotate(45deg);
    }
    .icon-bar:nth-child(2) {
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  }
  .icon-bar {
    background-color: #79589F;
  }
  &.collapsed {
    .icon-bar {
      background-color: #79589F;
    }
  }
}
