<h1 class="steps-count">Step 1 of 3</h1>
<h2>What do you want to deploy?</h2>
<br>

<div>
  <%= render partial: "application/deploy_what_tabs" %>

  <div class="container">
    <h3 class="muted"><i class="icon-circle-arrow-up"></i>
      Select where to grab the code.
    </h3>
    <% if current_repo.name == "pardot" %>
      <br>
      <h4>
        Or deploy the
        <%= link_to latest_repo_tags_path(current_repo.name) do %>
          <i class="icon-tags"></i> latest tag
        <%- end %>
      </h4>
    <% end %>
  </div>
</div>
