<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Who</th>
      <th>Command</th>
      <th>When</th>
      <th>Complete</th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
    <tr>
      <td><a href="/job/<%= job.id %>">view</a></td>
      <td><%= job.auth_user.email %></td>
      <td><%= job.command[0,40] %>...</td>
      <td><%= print_time job.created_at %></td>
      <td>
        <% if job.completed? %>
          <span class="text-success"><i class="icon-check"></i></span>
        <% else %>
          <span class="text-muted"><i class="icon-check-empty"></i></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>