<div class="alert alert-warning">
  Currently locked by
  <% if target.locking_user == current_user ||
        target.has_file_lock? && target.file_lock_user == current_user.email %>
    <strong>you</strong>.
  <% else %>
    <% if target.locked? %>
      <%= target.name_of_locking_user %>.
    <% elsif target.has_file_lock? %>
      <%= target.file_lock_user %> (<strong>file lock</strong>).
    <% end %>
  <% end %>
  <br>
  <strong>
    The lock was set about <%= print_relative_time target.file_lock_time %> ago.
  </strong>
  (<%= print_time target.file_lock_time %>)
</div>
