header[role="banner"] {
  background: none repeat scroll 0 0 #009ddc;
  border-bottom: 0 none;
  padding-bottom: 2px;
  .navbar-brand {
    padding: 0;
    img {
      height: 100%;
    }
  }
  
  .navbar-nav > li a {
    color: #fff;
  }
  .navbar-header {
    float: none;
  }
}
$sidebar-width: 140px;
aside[role="navigation"] {
  width: $sidebar-width;
  float: left;

  a > i {
    margin-right: 5px;
  }
  .newsection {
    margin-top: 20px;
  }
  .li-label {
    margin-top: 10px;
  }
  .li-label span {
    margin-left: 15px;
    color: #888;
  }
}

.main {
  margin-left: $sidebar-width;
  margin-top: 52px;
  padding: 4px 0 0 10px;
}

header .title {
  color: white;
  font-size: 2em;
  margin: 20px;
  line-height: 48px;
}
#account_id {
  span {
    font-size: 1.8em;
    margin-right: 10px;
  }
  select {
    font-size: 1.3em;
    vertical-align: text-bottom;
  }
}
.view {
  margin: 10px 0;
}
.scrollable {
  tbody {
    height: 200px;
    overflow-y: auto;
    width: 500px;
  }
  thead, tbody, tr, td, th { display: block; }
}

.btn-group {
  margin-right: 10px;
}
.explorer_logo {
  margin-left: 20px;
  margin-top: -10px;
}
.build_version {
  margin: 15px;
}
