// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside .label {
  padding: 5px;
}

#add_column {
  width: 110px;
  margin-left: 20px;
}

.all_rows {
  margin-right: 20px;
}

#query_sql {
  min-width: 300px;
  width: 90%;
}

#parsed_label {
  margin: 15px 10px 15px 0;
}

#parsed_sql {
  display: inline;
}