*.sync.tmp
/src/**/log/*.log
/src/**/tmp
/src/**/.bundle
/src/**/vendor/gems
/src/explorer/config/pi/*.php
/src/terraform/*.tfvars
/src/pull_agent/.dev_settings.yml
/bin/*
/pkg/
.DS_Store
*.tfstate.backup
coverage
Gemfile.lock
!/bin/cibuild
!/bin/dailyjob
!/bin/deploy
