*.sync.tmp
/.cache/
/etc/secrets
**/log/*.log
**/tmp
**/.bundle
**/.byebug_history
**/vendor/gems
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
/bambooplugin/target
.DS_Store
coverage
.idea
**/.idea
**/*.iml
