.DS_Store
*.tfvars
*.backup
plan.out
.dev_settings.yml
coverage
test_destinations/*
test_sources/*
vendor/s3-curl/.s3curl
.idea
*.sync.tmp
Gemfile.lock
/**/config/pi/*
/**/log/*.log
/**/tmp
!/**/config/pi/test.auth
!/**/config/pi/test.yaml
/**/.bundle
/src/**/vendor/gems
/src/rubylib/Gemfile.lock
/bin/
/pkg/
!/bin/build
!/bin/deploy
