<h1>Welcome to Canoe</h1>

<p class="lead muted">
  What would you like to deploy?
</p>

<div class="repos-index-grid">
  <ul class="repos-index-list">
    <%- @repos.each do |repo| %>
      <%= link_to repo do %>
        <li>
          <span class="icon">
            <%= content_tag :i, "", class: "icon-#{repo.icon}" %>
          </span>

          <span class="repo-link">
            <%= repo.name %>
          </span> 
        </li>
      <%- end %>
    <%- end %>
  </ul>
</div>
