<h1>
  <%= content_tag :i, "", class: "icon-#{current_repo.icon}" %>
  <%= current_repo.name.capitalize %>
</h1>

<h2 class="steps-count">Step 1 of 4</h2>
<br>

<p class="lead muted">
  <i class="icon-circle-arrow-down"></i> Select where to grab the code.
</p>

<div>
  <%= render partial: "application/deploy_what_tabs" %>
</div>
