<table class="table">
  <thead>
    <tr>
      <th>Who</th>
      <th>Lock Status</th>
      <th>Forced</th>
      <th>When</th>
    </tr>
  </thead>
  <% @locks.each do |lock| %>
    <tr>
      <td><%= lock.auth_user.email %></td>
      <td>
        <% if lock.locking? %>
          <i class="icon-lock text-danger"></i> <strong>Lock</strong>
        <% else %>
          <i class="icon-unlock text-success"></i> Unlock
        <% end %>
      </td>
      <td><%= content_tag :i, "", class: "icon-warning-sign text-warning" if lock.forced? %></td>
      <td><%= print_time lock.created_at %></td>
    </tr>
  <% end %>
</table>

<%= pagination_links(@locks.size, @total_locks) %>
