<h1>Salesforce Authenticator pairing</h1>

<% if current_user.phone_paired? %>

<p>Your Canoe account is paired with your phone.</p>

<% else %>

  <p>To pair your Canoe account with your phone, open the <a href="https://help.salesforce.com/articleView?id=salesforce_authenticator_overview.htm&type=0">Salesforce Authenticator app</a> then tap on <strong>New Account</strong> and enter the pairing phrase bellow:</p>

<%= form_tag "/auth/phone" do %>
<p>
<label>Two-Word Phrase</label>
<input name="pairing_phrase" autocomplete=off>
</p>
<p><input type=submit value="Pair my phone"></p>
<% end %>

<% end %>

