.status {
  margin-bottom: 40px;
}
.complete {
  color: green;
}

.incomplete {
  color: red;
}

.helper-text {
  cursor: help;
}

#by_team {
  padding-right: 20px;
}

#multipass-list td {
  vertical-align: middle;
  font-size: 120%;
}

#pci-hipaa-info-show {
  margin-top: 25px;
  float: right;
}

tr.complete {
  opacity: 0.6;
}

span.actor-lock-icon {
  margin-left: 10px;
}

span.actor-lock-icon.fa-lock {
  color: #D64242;
}

span.actor-lock-icon.fa-unlock {
  color: #D64242;
}

input.unlocked ~ span.actor-lock-icon.fa-unlock {
  color: #74C080;
}

input[disabled="disabled"] ~ span.actor-lock-icon.fa-unlock,
input[disabled="disabled"] ~ span.actor-lock-icon.fa-lock {
  display: none;
}

span.actor-lock-icon.fa-lock ~ div.locking-message {
  display: none;
}

span.actor-lock-icon.fa-unlock ~ div.locking-message {
  display: auto;
}

div.locking-message span.icon {
  color: #FA9F47;
  margin-left: -10px;
}

div.actor-message {
  margin-top: 5px;
}

.multipass-actions .show {
  width: 120px;
}
