.actors, .description, .backout-plan {
  margin-top: 30px;
  margin-bottom: 30px;
}

.actors input {
  width: 100%;
  margin-bottom: 7px;
}

.btn-lg.disabled {
  color: #BBB;
  background: #EFEFEF;
  border-color: #ddd;
}

.helptext {
  display: none;
}

.helptext.active {
  display: block;
}

.helptext label {
  color: #999;
  font-size: 13px;
  font-weight: 200;
  padding-top: 10px;
}

.help-text-container {
  margin-bottom: 15px;
}

.form .help-text-container .btn-group.radio-buttons {
  padding-left: 0px;
}

.form .btn-group.radio-buttons.buttons-2 .radio-inline {
  width: 50%;
}

.form .btn-group.radio-buttons.buttons-3 .radio-inline {
  width: 33.3%;
}

.radio-container {
  margin-bottom: 30px;
}

div.backout-plan {
  padding-top: 30px;
}

input.update-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

span.actor-lock-icon.fa-lock,
span.actor-lock-icon.fa-unlock {
  float: left;
  font-size: 16px;
  color: #525252;
  margin: 1px 5px 0px 0px;
}

.locking-message {
  float: right;
}

span.locked-text {
  float: left;
  font-size: 12px;
}

span.unlock-message {
  float: right;
  color: #999;
  display: none;
  font-size: 12px;
}

input.locking-button ~ span.unlock-message {
  display: inline;
}

input.disabled ~ span.unlock-message,
input.disabled ~ span.locked-text {
  display: none;
}

.actors input.btn-lg {
  box-shadow: none;
}

.actors input.btn-default {
  height: 44px;
  line-height: .9em;
  border: 2px solid #D64242;
}

.actors input.btn-default.disabled:hover {
  color: #BBB !important;
  background: #EFEFEF !important;
  border-color: #ddd;
}

.actors input.existing-actor {
  background: #aaa !important;
  color: #f7f7f7;
}

.actors input.btn-danger.existing-actor:hover,
.actors input.existing-actor:hover {
  background: #a5a5a5 !important;
}

.actors input.existing-actor.disabled {
  color: #BBB;
  background: #EFEFEF !important;
  border-color: #ddd;
}

.actors input.existing-actor.disabled:hover {
  color: #BBB;
  background: #EFEFEF !important;
  border-color: #ddd;
}

.edit-backout-plan {
  cursor: pointer;
}

h1 .text-success {
  vertical-align: 6px;
  border: solid 1px #74C080;
  background: white !important;
  font-weight: lighter;
  font-size: 10px;
  color: #74C080 !important;
}

.requester a {
  text-decoration: none;
}
