<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="container well">
      <h3>Authentication Failure</h3>
      <div class="alert alert-danger">
        <strong>Failure Message:</strong>
        <%= @failure_message.to_s.titleize %> <br>

      </div>
      <p>
        <a href="/" class="btn btn-primary btn-lg">Login</a>
        &nbsp;
        <em class="muted">Please try again.</em>
      </p>
      <br>
      <!--
      OmniAuth Hash:
      <%= @auth_hash %>
      -->
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
