<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="container well login-prompt">
      <h3>Authentication Required</h3>
      <small class="text-muted">(salesforce.com email address required)</small>
      <p><a href="/" class="btn btn-primary btn-lg">Login</a></p>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
