<h1>Welcome to Canoe</h1>

<p class="lead muted">
  What would you like to deploy?
</p>

<div class="projects-index-grid">
  <ul class="projects-index-list">
    <%- @projects.each do |project| %>
      <%= link_to project_branch_builds_path(project, "master") do %>
        <li>
          <span class="icon">
            <%= content_tag :i, "", class: "icon-#{project.icon}" %>
          </span>

          <span class="project-link">
            <%= project.titleized_name %>
          </span>
        </li>
      <%- end %>
    <%- end %>
  </ul>
</div>
