<h1>Where should we deploy this?</h1>
<h3 class="muted">
  <%= current_repo.name.capitalize %>:
  <%= print_deploy_what @deploy_type %>
</h3>
<br>
<div class="alert alert-info">
  <p class="lead">
    Select <i class="icon-bullseye"></i> for deployment.
  </p>
</div>

<% @targets.each do |target| %>
  <%= partial :"partials/target", locals: { target: target } %>
  <%# "<hr>" unless @targets.last == target %>
<% end %>
