<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# stylesheet_link_tag :application, :media => :all %>
    <%# javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
    <%# javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js' %>
    <%# javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js' %>
    <%# javascript_include_tag :application %>
    <title>Pardot/Canoe</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>