<div class="container">
  <h4>Servers</h4>
  <% current_deploy.all_servers.each do |server| %>
    <div class="deploy-server-status">
      <% if current_deploy.finished_servers.include?(server) %>
        <span class="text-success" title="Complete"><i class="icon-check"></i></span>
      <% else %>
        <span class="text-muted muted" title=""><i class="icon-check-empty"></i></span>
      <% end %>
      <%= server %>
    </div>
  <% end %>
</div>

<div class="clearfix">
</div>
<br>
