<div class="deploy-server-status">
  <%- if result.initiated? %>
    <span class="text-muted muted" title="Initiated"><i class="icon-check-empty"></i></span>
  <%- elsif result.completed? %>
    <span class="text-success" title="Complete"><i class="icon-check"></i></span>
  <% elsif result.failed? %>
    <span class="text-danger" title="Failed"><i class="icon-exclamation-sign"></i></span>
  <% elsif result.deployed? %>
    <%- next_action = deploy_workflow_for(deploy).next_action_for(server: result.server, result: result) %>
    <%- if next_action == "restart" %>
      <span class="test-success" title="Deployed"><i class="icon-refresh"></i></span>
    <%- else %>
      <span class="text-success" title="Complete"><i class="icon-check"></i></span>
    <%- end %>
  <%- end %>
  <%= link_to result.server.hostname, kibana_link(deploy: deploy, host: result.server.hostname) %>
</div>
