<% if target.lockable? %>
  <div class="alert alert-warning">
    Currently locked by
    <%- if target.locking_user == current_user %>
      <strong>you</strong>.
    <%- else %>
      <%= target.name_of_locking_user %>
    <%- end %>
    <br>
    <strong>
      <%# TODO %>
      <%# The lock was set about <%= print_relative_time target.file_lock_time %> ago. %>
    </strong>
    <%# (<%= print_time target.file_lock_time %>) %>
  </div>
<% end %>
