<div class="alert alert-warning">
  Currently locked by
  <%- if lock.auth_user == current_user %>
    <strong>you</strong>.
  <%- else %>
    <%= lock.auth_user.name %>
  <%- end %>
  <br>
  <strong>
    The lock was set about <%= print_relative_time lock.created_at %> ago.
  </strong>
  (<%= print_time lock.created_at %>)
</div>
