pardotops_access_key_id = ""
pardotops_secret_access_key = ""

pardotqe_access_key_id = ""
pardotqe_secret_access_key = ""

pardotatlassian_access_key_id = ""
pardotatlassian_secret_access_key = ""

pardotci_access_key_id = ""
pardotci_secret_access_key = ""

pardot_access_key_id = ""
pardot_secret_access_key = ""

github_enterprise_token = ""

bamboo_username = ""
bamboo_password = ""

bamboo_git_username = "sa_bamboo"
# sa_bamboo's github token from secrets.ops
bamboo_git_password = ""
