GEM_HOME=/usr/local/bundle
BUNDLE_APP_CONFIG=/usr/local/bundle

#* * * * * root . /tmp/.pullhostname.env; cd /pull-agent && /usr/local/bin/ruby ./check-in.rb dev chef >>/var/log/cron.log 2>&1
* * * * * root . /tmp/.pullhostname.env; cd /pull-agent && /usr/local/bin/ruby ./check-in.rb dev pardot >>/var/log/cron.log 2>&1
