# Pull in saved docker envs
#* * * * * root source /tmp/.pullagent.env; cd /pull-agent && /usr/local/bin/ruby ./check-in.rb dev chef 2>&1 | /usr/bin/logger -t pull_agent_chef
* * * * * root bash -c '. /tmp/.pullagent.env; cd /pull-agent && /usr/local/bin/ruby ./check-in.rb dev pardot 2>&1 | /usr/bin/logger -t pull_agent_pardot'
