<h1><%= link_to "Multipass Overridden", @multipass.permalink %></h1>
<h2>Actor: <%= link_to @multipass.emergency_approver, "https://github.com/#{@multipass.emergency_approver}" %></h2>
<h2>When: <%= @multipass.updated_at %></h2>
