<span class='helper-text' data-toggle="popover" data-trigger="hover" data-placement="right" data-container="body" data-content="Immediately marks this complete. Remember to come fix it later!">
  <%= f.submit 'Emergency override', class: 'btn btn-danger', name: 'multipass[emergency_override]' %>
</span>
