<!-- #html -->
<strong>Chef Problems in <%= @datacenter %></strong>
<table>
  <tr>
    <th>
      Hostname
    </th>
    <th>
      Problem
    </th>
  </tr>
  <% @problems.each do |problem| %>
    <% host = problem.fetch("hosts", []).first %>
    <tr>
      <td>
        <code>
          <% if host %>
            <%= host["host"] %>
          <% else %>
            <i>unknown host</i>
          <% end %>
        </code>
      </td>
      <td>
        <%= problem["description"] %>
      </td>
    </tr>
  <% end %>
  <% @hosts_without_data.each do |host| %>
    <tr>
      <td>
        <code>
          <%= host["host"] %>
        </code>
      </td>
      <td>
        No data. Chef may not be running at all or Zabbix base template (t_linux) may not be applied.
      </td>
    </tr>
  <% end %>
</table>
