<h3>
  <%= link_to build_url, class: "streetlight" do %>
    <% case state %>
    <% when GithubRepository::SUCCESS %>
      <i class="icon-check-sign"></i>
    <% when GithubRepository::FAILURE %>
      <i class="icon-circle"></i>
    <% when GithubRepository::PENDING %>
      <i class="icon-refresh"></i>
    <% else  %>
      <%= content_tag :i, "", class: "icon-circle gray", title: state %>
    <% end %>
  <% end %>
</h3>
