<h3>
  <% if state %>
    <%= link_to build_url, class: "streetlight" do %>
      <% case state %>
      <% when "true" #green %>
        <i class="icon-check-sign"></i>
      <% when "false" #red %>
        <i class="icon-circle"></i>
      <% end %>
    <% end %>
  <% else #gray %>
    <i class="icon-circle gray" title="No run"></i>
  <% end %>
</h3>