<h3>
  <%= link_to build_url.presence || "#", class: "streetlight" do %>
    <% case state %>
    <% when GithubRepository::SUCCESS %>
      <%= content_tag :i, "", class: "icon-check-sign", title: state.titleize %>
    <% else %>
      <%= content_tag :i, "", class: "icon-circle", title: state.titleize, data: { state: state } %>
    <% end %>
  <% end %>
</h3>
