<div class="container-fluid deploy-results">
  <h4>Servers</h4>
  <%- deploy_results.each_slice(4).each do |slice| %>
    <div class="row">
      <%- slice.each do |result| %>
        <%= content_tag :div, class: "col-xs-3" do %>
          <%= content_tag :div, class: "deploy-result", data: {stage: result.stage}, title: result.stage do %>
            <%- if result.start? %>
              <i class="icon-check-empty"></i>
            <%- elsif result.initiated? %>
              <i class="icon-spinner"></i>
            <%- elsif result.deployed? %>
              <%- next_action = deploy_workflow_for(deploy).next_action_for(server: result.server, result: result) %>
              <%- if next_action == "restart" %>
                <i class="icon-refresh"></i>
              <%- else %>
                <i class="icon-star-empty"></i>
              <%- end %>
            <%- elsif result.completed? %>
              <i class="icon-check"></i>
            <%- elsif result.failed? %>
              <i class="icon-exclamation-sign"></i>
            <%- else %>
              <i class="icon-question-sign"></i>
            <%- end %>

            <%= link_to result.server.hostname, kibana_link(deploy: deploy, datacenter: result.server.datacenter, host: result.server.hostname) %>
          <%- end %>
        <%- end %>
      <%- end %>
    </div>
  <%- end %>
</div>
