<aside role="navigation">
  <div class="sideoption">
    <p>Database</p>
    <ul class="nav nav-stacked database">
      <li>
        <span style="display: none;"><i class="fa fa-code"></i>Global</span>
        <a href="#"><i class="fa fa-cloud"></i>Global</a>
      </li>
      <li>
        <span id="shard_selected"><i class="fa fa-code"></i>Shard</span>
        <a href="#" style="display: none;"><i class="fa fa-cloud"></i>Shard</a>
      </li>
    </ul>
  </div>
  <div class="sideoption">
    <p>Datacenter</p>
    <ul class="nav nav-stacked">
      <li>
        <span style="display: none;"><i class="fa fa-thumbs-up"></i>Dallas</span>
        <a href="#"><i class="fa fa-thumbs-up"></i>Dallas</a>
      </li>
      <li>
        <span><i class="fa fa-thumbs-up"></i>Seattle</span>
        <a href="#" style="display: none;"><i class="fa fa-thumbs-up"></i>Seattle</a>
      </li>
    </ul>
  </nav>
</aside>
<div class="main">
  <%= form_for @query do |f| %>
    <div id="account_id">
      <span>Account</span>
      <%= f.select :account_id, options_for_select(%w[Pardot1/1 Solaris2/2])  %>
    </div>
    <div class="btn-group view">
      <button type="button" class="btn btn-default">Tables</button>
      <button type="button" class="btn btn-default active">I like my SQL</button>
    </div>
    <div>
      <%= f.text_area(:sql, size: "60x6") %>
      <%= f.submit %>
    </div>
  <% end %>
</div>