<%= render partial: 'form' %>
<div class="main">
  Parsed Query: <%= @ast.try(:to_sql) %>
  <div>
    <p>Global Tables</p>
    <%= @global_tables %>
  </div>
  <div>
    <p>Shard Tables</p>
    <%= @shard_tables %>
  </div>
</div>