.login-prompt {
   text-align:center;
   background:#FFC;
   padding:30px 20px;
}
.login-prompt h3 {
  padding-bottom:2px;
  margin:0;
}
.login-prompt p {
  margin-top:20px;
}
.no-bottom {
  margin-bottom:0;
  padding-bottom:0;
}
.muted { color:#AAA; }
.steps-count { font-weight:100;color:#AAA;border-bottom:1px solid #CCC; padding-bottom:5px; }
.deploy-list {
  padding-left:10px;
}
.deploy-button {
}
.deploy-target {
  border-left: 2px solid #CCC;
  padding-left:20px;
}
.deploy-target h2 {
  margin-bottom:0px;
}
.last-deploy {
  margin:10px 0;
}
.first-target {
  border-top:3px solid #009ddc;
}
#deploy_log_output, .deploy-log {
  background:#444;
  color:#EEE;
}
.gray-well {
  background:#EEE;
}

.half-well {
  width: 60%;
  padding:5px 20px;
}

.confirm-deploy { padding:20px; }

.under {
  border-bottom: 1px solid #CCC;
}

.form-wide {
  width:100%;
}

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf') format('truetype'),
      url('/fonts/icomoon.woff') format('woff'),
      url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-train"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-train:before {
  content: "\e600";
}
.icon-train3:before {
  content: "\e601";
}
.icon-train2:before {
  content: "\e602";
}

.deploy-server-status { width: 10%; float:left; }

ul.nav {
  margin-bottom: 20px;
}

.deploy-scenarios-fields .fields {
  margin-bottom: 2px;
}

.navbar-brand {
  padding: 0px;
  img.logo {
    height: 100%;
  }
}

.horizontal-button-array {
  form {
    display: inline-block;
  }
}