header[role="banner"] {
  background: none repeat scroll 0 0 #009ddc;
  border-bottom: 0 none;

  .navbar-brand {
    margin-left: -12px;
    margin-top: -12px;
    padding: 0;
    img {
      height: 58px;
    }
  }
  
  .navbar-nav > li a {
    color: #fff;
  }
  .navbar-header {
    float: none;
  }
}
$sidebar-width: 140px;
aside[role="navigation"] {
  width: $sidebar-width;
  float: left;
}

.main {
  margin-left: $sidebar-width;
  padding: 4px 0 0 10px;
}

.sideoption {
  background-color: #717073;
  padding: 0 0 10px 10px;
  margin-bottom: 15px;
  li {
    background-color: white;
  }
  li > span {
    display: block;
    padding: 10px 15px;
    position: relative;
    background-color: #D39D60;
  }
  p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 2px 0px;
  }
}

header .title {
  color: white;
  font-size: 2em;
  margin: 20px;
  line-height: 48px;
}
#account_id {
  span {
    font-size: 2em;
    margin-right: 10px;
  }
  select {
    font-size: 1.3em;
    vertical-align: text-bottom;
  }
}
.view {
  margin: 10px 0;
}