<div id='github-auth' class='purple-box u-padding-Al u-margin-Al'>
  <h2>Changeling needs access to your Github account to continue.</h2>
  <%= link_to('/auth/github', class: 'btn btn-lg btn-primary') do %>
    <i class='glyphicon glyphicon-lock'></i>
    Authorize Changeling on Github
  <% end %>
</div>
