<% if flash[:notice] %>
  <div class="alert alert-info">
    <i class="icon-info-sign"></i>
    <%=raw flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <i class="icon-warning-sign"></i>
    <%=raw flash[:alert] %>
  </div>
<% end %>
