<h1>Insufficient Privileges</h1>

<p>
  Sorry about that, but you don't have the necessary permissions to deploy to <strong><%= current_project.titleized_name %></strong> in <strong><%= current_target.name %></strong>. If you need access to get your job done, please file a ticket in the Security project on JIRA.
</p>

<p>
  <%= link_to "Go Back", :back %>
</p>
