# Percona Server template configuration

[mysqld]
innodb_buffer_pool_size = 128M
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
user = mysql
sql-mode = ""
log-error = /var/log/mysql/error.log

skip-host-cache

character_set_server = utf8
collation_server = utf8_general_ci

back_log = 50
max_connections = 100

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# Settings that should only be used for testing to eek out some performance
# gains. These are only appropriate for ephemeral test containers!
query_cache_size = 0
innodb_flush_method = nosync
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table = 0

[mysqld_safe]
malloc-lib = /usr/lib64/libjemalloc.so.1
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
