[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
datadir=/var/lib/mysql
tmpdir=/var/lib/mysql/tmp
socket=/var/lib/mysql/mysql.sock
user=mysql
# set sql-mode to 5.5 default
sql-mode=""

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
local-infile = false
# old_passwords=0

# Optimizer switch changes to turn off intersection
optimizer_switch = 'index_merge_intersection=off'

read_only = off

## Default char set to utf8
character-set-server = utf8

## Drop idle connections after 10 mins by default
wait_timeout = 600

## Disable Query Cache
query_cache_limit = 0
query_cache_min_res_unit = 1024
query_cache_size = 0
query_cache_type = 0

## MyISAM options
key_buffer_size = 10M

## Additional variables
connect_timeout = 30
join_buffer_size = 4M
long_query_time = 4
# log-slow-queries = 0
max_connections = 2000
max_allowed_packet = 16M
read_buffer_size = 4M
read_rnd_buffer_size = 262144
slow_query_log = 0
sort_buffer_size = 4M
skip-name-resolve
table_open_cache = 4096
thread_cache_size = 40
thread_pool_size = 32
tmp_table_size = 64M


## INNODB options
innodb_adaptive_flushing = 1
innodb_adaptive_hash_index = 0
# innodb_additional_mem_pool_size = 32M
# innodb_buffer_pool_populate = 1
innodb_buffer_pool_size = 70G
innodb_buffer_pool_instances = 25
innodb_change_buffering = inserts
innodb_checksum_algorithm = NONE
innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_doublewrite=0
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table
innodb_io_capacity = 2500
innodb_log_file_size = 134217728
innodb_log_files_in_group = 4
innodb_log_buffer_size = 8M
innodb_log_group_home_dir = /var/lib/mysql
# innodb_read_io_threads = 12
# innodb_recovery_update_relay_log = true
innodb_stats_on_metadata = 0
innodb_thread_concurrency = 999
# innodb_write_io_threads = 12

## Monitoring options
userstat = ON
# query_response_time_stats = ON

## Logging options
log-bin = /var/log/mysql/mysql-bin.log
log-bin-index = /var/log/mysql/log-bin.index
log-error = /var/log/mysql/error.log
binlog-do-db = pi
binlog-ignore-db = mysql
binlog-ignore-db = test
sync-binlog = 0
binlog_format = STATEMENT
log-slave-updates
replicate-same-server-id = 0
relay-log = /var/log/mysql/slave-relay.log
relay-log-index = /var/log/mysql/slave-relay-log.index
relay_log_space_limit = 50G
relay_log_recovery = true
expire_logs_days = 5
# disable warnings (stop the flow of unsafe query msgs)
# log_warnings = 0
log_error_verbosity = 3

auto_increment_increment = 2
# Make the offset the same as the server-id value
# Make sure server-id is not the same as the server-id on any other box on this shard (replication group)
server-id = 24718619
auto_increment_offset = 2

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
malloc-lib=/usr/lib64/libjemalloc.so.1

# Numa Support
flush_caches=0
numa_interleave=0
